.block {
	display: inline-block;

	box-sizing: border-box;

	padding: 5px 10px;

	color: white;

	border-radius: 20px;

	background-color: orange;
}

.fill {
	background-color: var(--prime);
}

/* .isedit {
	background-color: chartreuse;
} */
